# vim swp files
*.swp

# tmp MATLAB files
*.asv

# MATLAB figures
*.fig

# MATLAB mat files
*.mat

# LSL xdf data files
*.xdf

# pycache files
*.pyc

# data dir
data/*

# bcip dir
bcip

# venvs
venv/
Lib/

#bcipy info
bcipy.egg-info/
build/
dist/
test.py
BcipyGUI/
